.about-three-column-block {
	background-color: $white;
	padding: 1.2rem 8rem;
	.highlights {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 5rem;
		align-content: center;
	}
	.highlight {
		text-align: center;
		&__icon {
			max-width: 3rem;
			max-height: 3rem;
			img {
				width: 3rem;
				height: 3rem;
				display: block;
				margin-bottom: 2rem;
				margin-left: auto;
				margin-right: auto;
			}
		}
		&__title {
			font-size: 1.5rem;
			margin-bottom: 1.8rem;
			color: rgba($blue, 0.8);
		}
		&__content {
			font-family: $roboto;
			font-size: 0.9rem;
			line-height: 1.6;
			color: rgba($black, 0.8);
		}
	}
}