.single-post {
	background-color: $white;
	&::before {
		display: none;
	}
	.site-header {
		border-bottom: 0.9px solid $lightGrey;
		-webkit-box-shadow: 0 2px 2px -2px gray;
		box-shadow: 0 2px 2px -2px gray;
		.hamburger-menu {
			span {
				background-color: $blue;
			}
		}
		.search-icon {
			span {
				background-color: $blue;
			}
			.search-circle {
				background-color: transparent;
				border: 1.5px solid $blue;
			}
		}
	}
	.site-footer {
		border-top: 1.5px solid $lightGrey;

		&__instagram {
			display: block;
			svg {
				width: 2.2rem;
				height: 2.2rem;
				transition: all 300ms ease-in-out;
					path {
						fill: $blue;
					}
			}
		}
		&__twitter {
			display: block;
			margin-left: 0.5rem;
			svg {
				width: 2.2rem;
				height: 2.2rem;
				transition: all 300ms ease-in-out;
					path {
						fill: $blue;
					}
			}
		}
		&__nav {
			ul {
				list-style-type: none;
				li a {
					font-family: $oswald;
					font-size: 1.1rem;
					color: rgba($black, 0.8);
				}
			}
		}
		&__copyright {
			font-family: $oswald;
			font-size: 0.9rem;
			color: rgba($black, 0.8);
		}
		&__designedby {
			font-family: $oswald;
			font-size: 0.9rem;
			color: rgba($black, 0.8);
			span {
				a {
					text-decoration: none;
					color: $cyan;
					transition: all 300ms ease-in;
					&:hover {
						color: $black;
					}
				}
			}
		}
	}
}

.blog-single {
	margin-top: 4rem;
	&__date {
		display: block;
		text-align: center;
		font-family: $oswald;
		margin-bottom: 0.9rem;
		color: $lightGrey;
	}

	&__title {
		text-align: center;
		margin-top: 1rem;
		margin-bottom: 2.5rem;
		max-width: 50%;
		margin-left: auto;
		margin-right: auto;
		font-weight: 400;
		font-family: $roboto;
	}

	
	&__cat {
		text-align: center;
		font-size: 1.1rem;
		color: $blue;
		cursor: pointer;
	}

	&__image {
		max-width: 100%;
		max-height: 30vh;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		margin-top: 1.7rem;
		padding: 0 2.5rem;
		position: relative;
		@include media('>=phone') {
			margin-top: 2rem;
			padding: 0 5.5rem;
		}

		@include media('>=tablet') {
			margin-top: 3rem;
			padding: 0 10.5rem;
		}
	
		@include media('>=desktop-medium') {
			margin-top: 5rem;
			padding: 0 20.5rem 
		}

		p {
			font-size: 1rem;
			line-height: 1.7;
			font-family: $roboto;
			color: rgba($black, 0.8);
			margin-bottom: 1.7rem;
		}
		
		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 1.8rem;
			font-weight: 400;
		}
	}
	&__meta {
		display: flex;
		justify-content: space-between;
		padding: 0.2rem 2.5rem;
	}

	&__photo-cred {
		font-size: 0.8rem;
		line-height: 1.5;
		font-style: italic;
		font-family: $roboto;
	}

}

.single-post__share-icon-img {
	height: 1.5rem;
	margin-right: 0.4rem;
}

.single-post-share-icons {
	margin-top: 1rem;
	margin-left: 1rem;
}